
<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">
      <h1 class="title">Contact Sync</h1>
    </ion-header-bar>
    <ion-content scroll="false">
    <div class="list padding contact-data" >
      
   </div>
    
    </ion-content>

</ion-modal-view>