<ion-popover-view class="setting-opts">
  <ion-content has-bouncing="false">
    <div class="clear">
      <a class="item" ng-click="addGroup()">
        <i class="ion-plus"></i> Add Group
      </a>  
    </div>
  </ion-content>
</ion-popover-view>