<ion-popover-view class="share-opts">
  <ion-content has-bouncing="false">
    <div class="list clear">
      <a class="item text-center" ng-click="gallery()">
        <i class="ion-images"></i><br />Gallery
      </a>
      <a class="item text-center" ng-click="camera()">
        <i class="ion-ios-camera"></i><br />Camera
      </a>
      <a class="item text-center" ng-click="shareLocation()">
        <i class="ion-ios-location"></i><br />Location
      </a>
      <a class="item text-center" ng-click="shareContact()">
        <i class="ion-card"></i><br />Contacts
      </a>
    </div>
  </ion-content>
</ion-popover-view>