<ion-popover-view class="setting-opts">
  <ion-content has-bouncing="false">
    <div class="clear">
      <a class="item" ng-click="Profile()">
        <i class="ion-person"></i> Profile
      </a>
      <a class="item" ng-click="fetchContacts(countrycode,true)">
          <i class="ion-loop"></i> Refresh
      </a>    
    </div>
  </ion-content>
</ion-popover-view>