<ion-view view-title="Sign In" hide-back-button="true"  >
  <ion-content scroll="false">
    <div class="row full-height">
    	<div class="col col-center text-center">
        <button class="button button-positive btn-login" ng-click="facebookSignIn()">LOGIN WITH FACEBOOK</button>
        
      </div>
    </div>  
  </ion-content>
</ion-view>
